.container {
    display: flex;
}
.booksContainer {
    flex: 3;
}
.favorites {
    flex: 1;
    background-color: rgba(255, 0, 255, 0.747);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 30px 15px;
    height: fit-content;
}
.favorites div {
    background-color: rgba(0, 255, 255, 0.697);
    display: flex;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}
.favorites div img {
    width: 50px;
    padding-right: 30px;
}
.search {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
.search button {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    background:none;
    color: white;
    border: none;
    cursor: pointer;
    scale: 1.4;
    transition: all .1s ease;
}
.search button:hover{
    scale: 1.7;
}
.search input {
    outline: none;
    border:none;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}