.container {
    background-color: black;
}

.container h1,h4 {
    text-align: center;
    margin: 20px auto;
    padding: 5px 30px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: silver;
    width: fit-content;
}